extends ../layout

block content
  h1 Stores
  if stores 
    for store in stores 
      div.well.storeContainer
        h3.text-center= store.name
        .borderRadius
          a(href='/stores/'+store.id)
            img.img-responsive.storeImg(src=''+store.image+'')
