body {
  font-family: 'Abril Fatface', cursive;
  background-color: #1F143B;
}

.reg {
  font-family: sans-serif;
}

.title {
  color: #A27F70;
  font-size: 10rem;
  text-align: center;
  margin-top: 20rem;
}

h1 {
  color: #A27F70;
  text-align: center;
}

h2 {
  color: #A27F70;
}

.arrow {
  color: #A27F70;
  margin: 0 48vw;
  padding-top: 20px;
  font-size: 6rem;
}

.navbar {
  background-color: #A27F70;
  border: none;
}

.navbar a {
  color: #1F143B;
}

.navbar-toggle {
  background-color: #1F143B;
}

.storeContainer {
  color: #1F143B;
}

.storeImg {
  height: 300px;
  width: 400px;
  margin: 0 auto;
  padding: 1rem;
}

.imgShow {
  height: 300px;
  width: 400px;
  margin: 0 auto;
}

img {
  border-radius: 20px;
  -webkit-filter: sepia(90%);
}

.showCopy {
  color: #A27F70;
  margin-top: 2rem;
}

.showBox {
  margin: 10rem auto;
  width: 85%;
}

.well {
  background-color: #A27F70;
  border: none;
  margin: 3.5rem;
  border-radius: 9px;
  width: 45%;
  display: inline-block;
  padding: 3rem;
}

.form {
  font-family: sans-serif;
  width: 50%;
  margin: 3rem auto;
  background-color: #A27F70;
  padding: 3rem;
  border-radius: 9px;
}

.form button {
  width: 100%;
  margin-top: 1rem;
  background-color: #9ED7C7;
  color: #1F143B;
}

input {
  margin-top: .5rem;
}

select {
  margin-top: .5rem;
}

.errors {
  color: #9ED7C7;
}

@media screen and (max-width:48em) {
  .well {
    width: 85%;
  }
  .form {
    width: 80%;
  }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .well {
    width: 85%;
  }
  .form {
    width: 80%;
  }
}
